# Misc
*.log
*.pyc
*.swp
.DS_Store

# IDEs
.idea/
*.iml
.vscode/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
coverage/

# Android
/android/.gradle/
/android/local.properties
/android/app/debug
/android/app/profile
/android/app/release

# iOS
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec

# macOS / Linux / Windows
**/flutter/ephemeral/

# Obfuscation / symbols
app.*.symbols
app.*.map.json

# Secrets (solo específicos)
assets/credentials.json